<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/header :: main-header('Edit Your Edit')"/>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.0/mapbox-gl.css' rel='stylesheet'/>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
    <link rel="stylesheet" th:href="@{/css/mapbox.css}" />
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <th:block th:replace="fragments/navbarsm2 :: top-navsm2" />
</div>
<div th:unless="${#authorization.expression('isAuthenticated()')}">
    <th:block th:replace="fragments/navbarsm :: top-navsm" />
</div>
<div sec:authorize="isAuthenticated()">
    <th:block th:replace="fragments/navbar2 :: top-nav2" />
</div>
<div th:unless="${#authorization.expression('isAuthenticated()')}">
    <th:block th:replace="fragments/navbar :: top-nav" />
</div>
<div class="uk-container uk-container-expand">
<div>Bartenders applied for: <h3 th:text="${event.title}"></h3></div>
<th:block th:object="${event}">
    <div th:each="bartender : ${event.bartenders}">
        <div><h3 th:text="${bartender.name}"></h3></div>
<!--        <form th:type="submit" th:action="@{}"><button>Accept Employment</button></form>-->

        <form th:action="@{'/events/appliedbartenders/' + ${event.id}}" th:method="POST">
            <input type="hidden" th:value="${bartender.id}" name="deniedBartender"/>
            <button th:type="submit">Deny Employment</button>
        </form>
    </div>
</th:block>
</div>
<th:block th:replace="fragments/script :: my-script"/>
</body>
</html>