<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/header :: main-header('Create an Event')"/>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.0/mapbox-gl.css' rel='stylesheet'/>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
    <link rel="stylesheet" th:href="@{/css/mapbox.css}" />
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <th:block th:replace="fragments/navbar2 :: top-nav2" />
</div>
<div th:unless="${#authorization.expression('isAuthenticated()')}">
    <th:block th:replace="fragments/navbar :: top-nav" />
</div>

    <h1>Create a new event!</h1>
    <form th:action="@{/events/create}" th:method="post" th:object="${event}">
        <label for="title">Event Title</label>
        <input type="text" id="title" th:field="*{title}" />
        <br/>
        <label for="date">Date</label>
        <input type="date" id="date" th:field="*{date}" />
        <br/>
        <label for="start-time">Start Time</label>
        <input type="time" id="start-time" th:field="*{startTime}" />
        <br/>
        <label for="endTime">End Time</label>
        <input type="time" id="endTime" th:field="*{endTime}" />
        <br/>
        <label for="address">Address</label>
<!--        <div id='geocoder' class='geocoder'></div>-->
        <input type="text" id="address" th:field="*{address}" />
        <br/>
        <label for="bartendersNeeded">Number of Bartenders Needed</label>
        <input type="number" min="1" max="10" id="bartendersNeeded" th:field="*{bartendersNeeded}" />
        <br/>
        <label for="description">Event Description</label>
        <input type="text" id="description" th:field="*{description}" />
        <br/>
        <input type="submit" value="Create Event" />
    </form>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.0/mapbox-gl.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.min.js'></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.js" integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
<script th:src="@{/js/keys.js}"></script>
<script th:src="@{/js/mapbox.js}"></script>
<script th:src="@{/js/mapbox-utils.js}"></script>
<script th:src="@{/js/mapboxGeocode.js}"></script>
</body>
</html>