<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Event Registration</title>
</head>
<body>
    <h1>Create a new event!</h1>
    <form th:action="@{/events/create}" th:method="post" th:object="${event}">
        <label for="title">Event Title</label>
        <input type="text" id="title" th:field="*{title}" />
        <br/>
        <label for="start-time">Start Time</label>
        <input type="date" id="start-time" th:field="*{start_time}" />
        <br/>
        <label for="endTime">End Time</label>
        <input type="date" id="endTime" th:field="*{end_time}" />
        <br/>
        <label for="address">Address</label>
        <input type="date" id="address" th:field="*{address}" />
        <br/>
        <label for="bartendersNeeded">Number of Bartenders Needed</label>
        <input type="number" min="1" max="10" id="bartendersNeeded" th:field="*{bartendersNeeded}" />
        <br/>
        <label for="description">Event Description</label>
        <input type="text" id="description" th:field="*{description}" />
        <br/>
        <input type="submit" value="Create Event" />
    </form>

</body>
</html>