<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: main-header('Events')"
</head>
<body>

<h1>View All Events!</h1>
<div th:each="event : ${events}">
    <span th:text="${event.title}"></span>
    <span th:text="${event.startTime}"></span>
    <span th:text="${event.endTime}"></span>
    <span th:text="${event.address}"></span>
    <span th:text="${event.bartendersNeeded}"></span>
    <span th:text="${event.description}"></span>
</div>

</body>
</html>