<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/header :: main-header('Events')"/>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <th:block th:replace="fragments/navbar2 :: top-nav2" />
</div>
<div th:unless="${#authorization.expression('isAuthenticated()')}">
    <th:block th:replace="fragments/navbar :: top-nav" />
</div>

<h4>Title: <span th:text="${event.title}"></span></h4>
<p>Start Time: <span th:text="${#calendars.format(event.startTime, 'MMMM dd, yyyy - hh:mm a')}"></span></p>
<p>End Time: <span th:text="${#calendars.format(event.endTime, 'MMMM dd, yyyy - hh:mm a')}"></span></p>
<p>Address: <span th:text="${event.address}"></span></p>
<p>Number of Bartenders Needed: <span th:text="${event.bartendersNeeded}"></span></p>
<p>Description: <span th:text="${event.description}"></span></p>

</body>
</html>