<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<nav style="font-family: 'Source Sans Pro'" class="uk-navbar-container main-nav uk-visible@m"  th:fragment="top-nav" uk-navbar="boundary-align: true; align: center;">
    <div class="uk-navbar-left">
        <a style="color: white;" class="uk-navbar-item uk-logo" href="/">Drink Hustle</a>
        <ul class="uk-navbar-nav">
            <li><a href="/about">About</a></li>
            <li><a href="/events">Events</a></li>
            <li>
                <a href="#">Register</a>
                <div class="uk-navbar-dropdown uk-navbar-dropdown-width-3">
                    <div class="uk-navbar-dropdown-grid uk-child-width-1-3" uk-grid="">
                        <div>
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="/hustlers/register">as Bartender</a></li>
                                <li class="uk-active"><a href="/clients/register">as Organizer</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="/login" id="login">Login</a></li>
        </ul>
    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li class="uk-margin-auto-right">
                <form action="/events/search" method="get" class="uk-search">
                    <input class="form uk-search-input" type="search" placeholder="Search Events..." name="term" id="search-bar"/>
                </form>
            </li>
        </ul>
    </div>
</nav>

</body>
</html>