<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>

<nav class="uk-navbar-container uk-margin main-nav" th:fragment="top-nav2">
    <div class="uk-navbar-left">

        <a style="color: white;" class="uk-navbar-item uk-logo" href="/">Drink Hustle</a>

        <ul class="uk-navbar-nav navlink">
            <li><a href="/about">About</a></li>
<!--            <li><a href="/events">Events</a></li>-->
            <li th:if="${#authentication.principal.isClient} == ${'1'}"><a href="/events">Events</a></li>
            <li th:if="${#authentication.principal.isClient} == ${'0'}"><a href="/users/bartenders">View Bartenders</a></li>
            <li th:if="${#authentication.principal.isClient} == ${'0'}"><a href="/events/create">Create Events</a></li>
            <li th:if="${#authentication.principal.isClient} == ${'1'}"><a href="/users/profile">Account</a></li>
            <li th:if="${#authentication.principal.isClient} == ${'0'}"><a href="/client/profile">Account</a></li>
            <li class="navbutton">

                <form th:action="@{/logout}" th:method="post">
                    <button class="uk-button uk-button-default uk-button-small">Logout</button>
                </form>
            </li>
        </ul>
        <div class="uk-navbar-item">
        </div>
    </div>
</nav>
</body>
</html>