<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>

<nav style="font-family: 'Source Sans Pro'" class="uk-navbar uk-margin main-nav uk-visible@m uk-visible@l" th:fragment="top-nav2">
    <div class="uk-navbar-left">

        <a style="color: white;" class="uk-navbar-item uk-logo" href="/">Drink Hustle</a>

        <ul class="uk-navbar-nav navlink">
            <li><a href="/about">About</a></li>
<!--            <li><a href="/events">Events</a></li>-->
            <li th:if="${#authentication.principal.isClient} == ${'1'}"><a href="/events">Events</a></li>
            <li th:if="${#authentication.principal.isClient} == ${'0'}"><a href="/hustlers/bartenders">Bartenders</a></li>
            <li th:if="${#authentication.principal.isClient} == ${'0'}"><a href="/events/create">Create Events</a></li>
            <li th:if="${#authentication.principal.isClient} == ${'1'}"><a href="/hustlers/profile">Account</a></li>
            <li th:if="${#authentication.principal.isClient} == ${'0'}"><a href="/client/profile">Account</a></li>
            <li class="uk-navbar-item">
                <form th:action="@{/logout}" th:method="post">
                    <a><button class="uk-button uk-button-default uk-button-small" id="logout">Logout</button></a>
                </form>
            </li>
        </ul>
        <div class="uk-navbar-item"></div>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li class="uk-margin-auto-right">
                <form action="/events/search" method="get" class="uk-search">
                    <input class="form uk-search-input" type="search" placeholder="Search Events..." name="term" id="search-bar"/>
                </form>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>