<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/header :: main-header('My Profile')" />
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <th:block th:replace="fragments/navbarsm2 :: top-navsm2" />
</div>
<div th:unless="${#authorization.expression('isAuthenticated()')}">
    <th:block th:replace="fragments/navbarsm :: top-navsm" />
</div>
<div sec:authorize="isAuthenticated()">
    <th:block th:replace="fragments/navbar2 :: top-nav2" />
</div>
<div th:unless="${#authorization.expression('isAuthenticated()')}">
    <th:block th:replace="fragments/navbar :: top-nav" />
</div>
<div class="uk-container uk-container-expand">
<div uk-grid="">
<div class="bpleftside uk-width-1-2">
    <h3>Welcome back, <span th:text="${user.name}"></span>!</h3>
    <th:block class="bpleftside">
        <img class="profilePhoto" th:src="${user.photoUrl}"/>
        <h3>Contact Name: <span th:text="${user.name}"></span></h3>
        <h3>Contact Email: <span th:text="${user.email}"></span></h3>
        <h4>About Me:</h4>
        <p th:text="${user.aboutMe}"></p>
        <h4>TABC Certification: <span th:text="${user.tabcCert}"></span></h4>
        <h4>Food Certification: <span th:text="${user.foodCert}"></span></h4>
    </th:block>
</div>

</div>
    <div class="bprightside uk-width-1-2">
        <div class="uk-background-fixed uk-background-center-center uk-height-small" style="background-image: url(/img/drinkbg.jpg); width: 100%; margin-left: 16%"></div>
        <div class="cprightbottom">
<!--            Populate Interested events here-->
        </div>
    </div>
<button id="editButton" class="uk-button-primary uk-button"><a th:href="@{'/hustlers/profile/'+ ${#authentication.principal.id} +'/edit'}">Edit Profile</a></button>
<br/>
<form th:action="@{/hustlers/profile/{id}/delete(id=${user.id})}" th:method="POST"><button id="deleteButton" class="uk-button uk-button-danger uk-button-small">Delete My Profile</button></form>


    <th:block th:replace="fragments/footer :: footer"/>
    <th:block th:replace="fragments/script :: my-script"/>
</div>
</body>
</html>