<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/header :: main-header('My Profile')" />
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <th:block th:replace="fragments/navbarsm2 :: top-navsm2" />
</div>
<div th:unless="${#authorization.expression('isAuthenticated()')}">
    <th:block th:replace="fragments/navbarsm :: top-navsm" />
</div>
<div sec:authorize="isAuthenticated()">
    <th:block th:replace="fragments/navbar2 :: top-nav2" />
</div>
<div th:unless="${#authorization.expression('isAuthenticated()')}">
    <th:block th:replace="fragments/navbar :: top-nav" />
</div>

<div id="page-container">
    <div id="content-wrap">
<div class="uk-container uk-container-expand">
<div uk-grid="">
    <div class="cpleftside uk-width-1-2" style="background: lightblue;">
        <img class="profilePhoto" th:src="${user.photoUrl}"/>
        <h3><span th:text="${user.name}"></span></h3>
        <h3>Company: <span th:text="${user.company}"></span></h3>
        <h3>Contact Email: <span th:text="${user.email}"></span></h3>
                <a th:href="@{'/client/profile/'+ ${#authentication.principal.id} +'/edit'}">Edit Profile</a>
<form th:action="@{/client/profile/{id}/delete(id=${user.id})}" th:method="POST"><button class="uk-button uk-button-danger uk-button-small" id="deleteProfileButton">Delete My Profile</button></form>
    </div>

        <div class="cprightside uk-width-1-2">
            <div class="uk-background-fixed uk-background-center-center uk-height-small" style="background-image: url(/img/drinkbg.jpg); width: 100%">
                <h2 style="color:white;">Created Events</h2>
            </div>
            <div class="cprightbottom">
                <th:block th:each="event : ${events}">
                    <div style="width: 100%; height: 25px; background: darkblue;"></div>
                    <div class="uk-card uk-card-hover">
                        <p><span th:text="${event.title}"></span></p>
                        <p>Start Time: <span th:text="${#calendars.format(event.startTime, 'h:mm a')}"></span></p>
                        <p>End Time: <span th:text="${#calendars.format(event.endTime, 'h:mm a')}"></span></p>
                        <p>Event location: <span th:text="${event.address}"></span></p>
                        <p>Bartenders Needed: <span th:text="${event.bartendersNeeded}"></span></p>
                        <p>Description: <span th:text="${event.description}"></span></p>
                        <a th:href="@{/events/{id}/edit(id=${event.id})}" class="uk-button uk-button-primary" id="editButton">Edit</a>
                        <form th:action="@{'/events/' + ${event.id} + '/delete'}" th:method="POST"><button class="uk-button uk-button-danger" id="deleteButton">Delete</button></form>
                        <a th:href="@{'/events/appliedbartenders/' + ${event.id}}" class="uk-button uk-button-primary" id="editButton">View Applied Bartenders</a>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</div>
    </div>
<th:block th:replace="fragments/footer :: footer"/>
</div>



<th:block th:replace="fragments/script :: my-script"/>
</body>
</html>