<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
<!--Header fragment-->
</head>
<body>
<!--Navbar fragment-->

<h1>Register an account</h1>

<form th:action="@{/register}" th:method="post" th:object="${user}">
    <label for="company">Company Name</label>
    <input id="company" th:field="*{company}"/>
    <br/>
    <label for="username">Name</label>
    <input id="username" th:field="*{name}"/>
    <br/>
    <label for="email">Contact Email</label>
    <input id="email" th:field="*{email}"/>
    <br/>
    <label for="password">Password</label>
    <input id="password" type="password" th:field="*{password}"/>
    <br/>
    <label for="password">Re-enter Password</label>
    <input id="verifyPassword" type="password" th:field="*{password}"/>
    <br/>
    <input type="submit" value="Sign me up!"/>
</form>

<!--Footer fragment-->
</body>
</html>