<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--   Header fragment-->
</head>
<body>
<!--Navbar fragment-->


<th:block>
    <h3 th:text="${user.company}">Company:</h3>
    <h3 th:text="${user.name}">Contact Name:</h3>
    <h3 th:text="${user.email}">Contact Email:</h3>
</th:block>
<th:block th:each="event : ${events}">
    <h1 th:text:="${event.title}">Title</h1>
    <p th:text="${event.startTime}">Start time</p>
    <p th:text="${event.endTime}">End time</p>
    <p th:text="${event.address}">Event location</p>
    <p th:text="${event.bartendersNeeded}">Bartenders Needed</p>
    <p th:text="${event.description}">Description</p>
</th:block>


<!--Footer fragment-->
</body>
</html>