<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/header :: main-header('Edit My Profile')" />
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <th:block th:replace="fragments/navbarsm2 :: top-navsm2" />
</div>
<div th:unless="${#authorization.expression('isAuthenticated()')}">
    <th:block th:replace="fragments/navbarsm :: top-navsm" />
</div>
<div sec:authorize="isAuthenticated()">
    <th:block th:replace="fragments/navbar2 :: top-nav2" />
</div>
<div th:unless="${#authorization.expression('isAuthenticated()')}">
    <th:block th:replace="fragments/navbar :: top-nav" />
</div>
<div class="uk-container uk-container-expand">
<form th:action="@{'/hustlers/profile/' + ${#authentication.principal.id} + '/edit'}" method="post" th:object="${user}">
    <label for="username">Name</label>
    <input id="username" name="username" type="text" th:field="*{name}"/>
    <label for="email">Email</label>
    <input id="email" name="email" type="text" th:field="*{email}" />
    <label for="phoneNum">Phone Number</label>
    <input type="text" id="phoneNum" name="phoneNum" th:field="*{phoneNum}" />
    <label for="tabcCert">TABC Certification Number</label>
    <input id="tabcCert" name="tabcCert" type="text" th:field="*{tabcCert}" />
    <label for="foodCert">Food Handlers Certification Number</label>
    <input id="foodCert" name="foodCert" type="text" th:field="*{foodCert}" />
    <label for="aboutMe">About Me</label>
    <textarea id="aboutMe" type="textarea" style="height: 300px" cols="20" wrap="hard" name="aboutMe" th:field="*{aboutMe}"/>
<!--    <img class="profilePhoto" th:src="${user.photoUrl}"/>-->
<!--    <button type="button" id="picker">Change Profile Photo</button>-->
<!--    <input type="hidden" id="file" name="file" th:field="*{photoUrl}" />-->
    <button class="uk-button uk-button-primary uk-align-center" type="submit" value="submit">Save</button>
</form>
<th:block th:replace="fragments/script :: my-script"/>
</div>
</body>
</html>