<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/header :: main-header('Login')"/>
</head>
<body id="index-body">
<script th:src="@{/js/fbSignIn.js}"></script>
<!--<script async="async" src="https://connect.facebook.net/en_US/sdk.js"></script>-->
<!--<div id="fb-root"></div>-->
<!--<script async="async" defer="defer" crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=413668279352778&autoLogAppEvents=1"></script>-->
<div sec:authorize="isAuthenticated()">
    <th:block th:replace="fragments/navbarsm2 :: top-navsm2"/>
</div>
<div th:unless="${#authorization.expression('isAuthenticated()')}">
    <th:block th:replace="fragments/navbarsm :: top-navsm"/>
</div>
<div sec:authorize="isAuthenticated()">
    <th:block th:replace="fragments/navbar2 :: top-nav2"/>
</div>
<div th:unless="${#authorization.expression('isAuthenticated()')}">
    <th:block th:replace="fragments/navbar :: top-nav"/>
</div>

<div class="uk-container uk-container-expand">
    <h1>Log In</h1>
    <div uk-grid="" id="loginGrid">
<!--        <div class="uk-grid-small"></div>-->
        <div class="uk-align-center uk-grid-small uk-card-default" id="login">
            <form th:action="@{/login}" method="post" id="loginForm">
                <div class="uk-align-center" id="username-element">
                    <label for="username">Email</label>
                    <input class="uk-input input-login" id="username" name="username" type="text" style="width: 400px"/>
                </div>
                <div class="uk-align-center" id="password-element">
                    <label for="password">Password</label>
                    <input class="uk-input input-login" id="password" name="password" type="password"
                           style="width: 400px"/>
                </div>
                <button class="uk-button uk-align-center" type="submit" name="action" id="submitButton">Submit</button>
            </form>
        </div>
<!--        <div class="uk-grid-small"></div>-->
    </div>
</div>
<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/script :: my-script"/>
</body>
</html>