<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <th:block th:replace="fragments/header :: main-header('View Bartender')" />
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <th:block th:replace="fragments/navbarsm2 :: top-navsm2"/>
</div>
<div th:unless="${#authorization.expression('isAuthenticated()')}">
    <th:block th:replace="fragments/navbarsm :: top-navsm"/>
</div>
<div sec:authorize="isAuthenticated()">
    <th:block th:replace="fragments/navbar2 :: top-nav2"/>
</div>
<div th:unless="${#authorization.expression('isAuthenticated()')}">
    <th:block th:replace="fragments/navbar :: top-nav"/>
</div>
<div id="page-container">
    <div id="content-wrap">
<div class="uk-container uk-container-expand">
    <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-text-center">
        <div class="uk-card-header">
            <div class="uk-card-media-top">
                <img class="profilePhoto" th:src="${user.photoUrl}"/>
            </div>
            <div class="uk-card-body">
                <h2>Name: <span th:text="${user.name}"></span></h2>
                <h3>Email: <a th:text="${user.email}"></a></h3>
                <h3>Phone Number: <a th:text="${user.phoneNum}"></a></h3>
                <h3>About Me:</h3>
                <h4 th:text="${user.aboutMe}"></h4>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="fragments/footer :: footer"/>
    </div>
</div>

<th:block th:replace="fragments/script :: my-script"/>
</body>
</html>