/* General layout */

html {
    font-family: "Source Sans Pro";
    font-size: 1.25rem;
    background-color: rgb(236, 228, 228);
}

body {
    font-size: 1.25rem;
    /*font-size: 1.6rem;*/
    line-height: 1.6;
    font-family: 'Source Sans Pro';
    background-color: rgb(236, 228, 228);
}

nav {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2b88d9+0,207cca+33,207cca+33,3b679e+47,3b679e+94,3b679e+95,3b679e+95 */
    background: #2b88d9; /* Old browsers */
    background: -moz-linear-gradient(top,  #2b88d9 0%, #207cca 33%, #207cca 33%, #3b679e 47%, #3b679e 94%, #3b679e 95%, #3b679e 95%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #2b88d9 0%,#207cca 33%,#207cca 33%,#3b679e 47%,#3b679e 94%,#3b679e 95%,#3b679e 95%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #2b88d9 0%,#207cca 33%,#207cca 33%,#3b679e 47%,#3b679e 94%,#3b679e 95%,#3b679e 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b88d9', endColorstr='#3b679e',GradientType=0 ); /* IE6-9 */

    color: #ECE4E4;
    font-family: "Source Sans Pro";
    margin-bottom: 0;
}


.landingpage {
    background-color: black;
}

.uk-navbar-nav>li>a {
    color: #ECE4E4;
    font-family: "Source Sans Pro";
}

.uk-navbar-nav>li>a:hover {
    text-decoration: underline;
}


#logout{
    color: #ECE4E4;
    font-family: "Source Sans Pro";
}

#logout:hover{
    color: #28316D;
}

    /*Custom CSS for Login Page*/
.uk-grid-small > .uk-card-default {
    padding: 5px;
}
.uk-grid-small#login {
    padding: 50px;
    border-radius: 10px;
}
.uk-grid-small#login:hover {
    box-shadow: rgba(11, 11, 11, 0.25) 1px 2px 9px 1px;
}
form#loginForm {
    padding-left: 0px;
}
#loginGrid {
    margin-left: 0px;
}
.uk-button#submitButton:hover{
    color: white;
}


    /*Show All Events Custom CSS*/
#eventsLICard {
    height: 100%;
    max-height: 450px;
    border-radius: 10px;
    transition: transform 300ms ease-in-out, box-shadow 400ms ease, background 100ms ease;
}
#eventsLICard:hover {
    transform: translateY(-0.5rem);
}
#eventsLICard > span {
    text-overflow: ellipsis;
}
#eventsLICard > a {
    color: white;
    transform: translateY(-0.5rem);
}



    /*Custom CSS for About Us Page*/
#aboutUsGrid > .uk-card {
    padding: 15px;
    transition: transform 300ms ease-in-out, box-shadow 400ms ease, background 100ms ease;
}
#aboutUsGrid > .uk-card:hover {
    transform: translateY(-0.5rem);
}


    /*View All Bartenders Page*/
#bartenderGrid > .uk-card {
    padding: 15px;
    transition: transform 300ms ease-in-out, box-shadow 400ms ease, background 100ms ease;
}
#bartenderGrid > .uk-card:hover {
    transform: translateY(-0.5rem);
}

    /*Custom CSS for Page Header*/
h1 {
    color: white;
    font-size: 2rem;
    padding: 15px 20px;
    background-color: rgba(96, 102, 140, 0.3);
    margin-bottom: 20px;
    text-align: center;
    border-left: rgba(238, 232, 170, 0.76) 1px solid;
    border-right: rgba(238, 232, 170, 0.75) 1px solid;
    border-bottom: rgba(238, 232, 170, 0.75) 1px solid;
    box-shadow: rgba(251, 245, 181, 0.11) 0 0.5px 2px 7px;
}


    /*Custom CSS for Individual Event Page*/
#eventCard {
    border: 1px solid #8c92c1;
    background-color: #6d739f;
    margin-left: 5px;
    margin-right: -5px;
}
#eventCard > h4 {
    color: #ECE4E4;
}


    /*Bartender Profile Custom CSS*/
#profilePhoto {
    border-radius: 50%;
    max-width: 33%;
}



    /*Client Profile Custom CSS*/
#clientProfilePhoto {
    margin-top: 5%;
    max-width: 33%;
}
#clientProfileCard {
    margin-left: 5%;
    margin-right:5%;
    margin-bottom: 20%;
}

a {
    color: #ece4e4;
    display: block;
}
a:hover {
    color: white;
    text-decoration: none;
}

.uk-margin-auto-right {
    position: relative;
    right: 20px;
    border-style: groove;
    border-color: #ece4e4;
    border: 2px;
}

.uk-card-body {
    padding: 10px auto;
}

/*.uk-search-input {*/
/*    position: relative;*/
/*    margin-right: 80px;*/
/*    z-index: 5000;*/
/*}
*/

.container {
    margin: 20px auto;
    width: 100%;
}

.registration {
    background-color: #ece4e4;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 20px;
    box-shadow: 1px 1px 5px 0px rgba(24, 19, 26, 0.3);
    border-bottom: 5px solid #60668c;
}

#password-element, #username-element {
    margin: 40px auto;
    /*margin-left: 150px;*/
}

#deleteButton, #editButton {
    margin: 10px auto;
    border-radius: 5px;
    margin-left: 10%;
}

#deleteProfileButton{
    border-radius: 5px;
    background-color: #90303d;
    color: #ECE4E4;
    font-size: smaller;
}

#deleteProfileButton:hover {
    background-color: #18131A;
}

#deleteBarProfileButton {
    border-radius: 5px;
    background-color: #90303d;
    color: #ECE4E4;
    font-size: smaller;
    margin-left: 10%;
}

#deleteBarProfileButton:hover {
    background-color: #18131A;
}

.uk-button {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: auto;
    padding-bottom: auto;
    max-width: 200px;
    width: 100%;
    height: 40px;
    text-align: center;
    border-radius: 5px;

}

.uk-card {
    padding: 20px auto;
    border: 1px dotted lightslategrey;
    border-radius: 5px;
    background-color: #60668c;
    color: #18131A;!important;
    margin: 10px auto;
}

.uk-card:hover {
    background-color: #444b6e !important;
    color: #18131A !important;
    box-shadow: #92a4b6 1px 3px 5px 0px;
    border: none;
    border-radius: 5px;
}

.bpleftside {
    background-color: #60668C;!important;
    margin-left: 10%;
}

.cpleftside {
    background-color: #60668C !important;
    padding-left: 0px;
}

.profilePhoto {
    border: 3px solid #ECE4E4;!important;
    border-radius: 50%;
}

h1, h2, h3, h4, h5, p {
    color: #ece4e4;
    font-family: "Source Sans Pro";!important;
    padding: 10px auto;!important;
    /*margin-left: 10%;!important;*/
}

.registration-input:focus {
    /*border: 1px solid black;*/
}

#aboutMe:focus {
    border: 1px solid black;
}

.input-login {
    font-size: .9rem;
    text-align: center;
    padding: 2px auto;
}

.input-requirements {
    font-size: .75rem;
    font-style: italic;
    text-align: left;
    list-style: disc;
    list-style-position: inside;
    max-width: 400px;
    margin: 10px auto;
    color: rgb(24, 19, 26);
}


.input-requirements li.invalid {
    color: #e74c3c;
}
.input-requirements:not([type = "textarea"]) li.valid {
    color: #2ecc71;
}

.input-requirements li.valid:after {
    display: inline-block;
    padding-left: 10px;
    /*content: "\2713";*/
}

#aboutMe {
    text-align: left;
    word-wrap: break-word;
    overflow: auto;
    overflow-wrap: break-spaces;
    text-align-all: left;
}

/* FormHack v1.2.0 (formhack.io) */

/* Config ----------------------------- */
:root {

    /* Font */
    --fh-font-family: 'Source Sans Pro';
    --fh-font-size: 18px;
    --fh-font-color: rgb(24, 19, 26);

    /* Borders */
    --fh-border-radius: 3px;
    --fh-border-width: 1px;
    --fh-border-style: solid;
    --fh-border-color: rgb(236, 228, 228);

    /* Inputs, Textareas, Select, Option */
    --fh-input-height: 40px;
    --fh-input-width: 100%;
    --fh-input-max-width: 400px;
    --fh-input-bg-color: rgb(255, 252, 249);
    --fh-focus-bg-color: var(--fh-input-bg-color);
    --fh-focus-border-color: #18131a;
    --fh-focus-font-color: var(--fh-font-color);

    /* Select Vendor Styling */
    --fh-select-vendor-styling: none; /* comment this out to maintain vendor styling */


    /* Buttons & Input Submits */
    --fh-button-height: 40px;
    --fh-button-width: 100%;
    --fh-button-max-width: 200px;
    --fh-button-font-color: var(--fh-font-color);
    --fh-button-bg-color: rgba(40, 49, 109, 0.3);
    --fh-button-hover-bg-color: rgb(102, 166, 205);
    --fh-button-hover-font-color: var(--fh-font-color);

    /* Layout */
    --fh-layout-display: block;
    --fh-layout-margin: 10px auto; /* change to "10px auto" to center */
    --fh-layout-text-align: center;
}



/* Global Reset Styles ------------------ */



input,
textarea,
select,
option,
optgroup,
button,
legend,
fieldset {
    box-sizing: border-box;
    outline: none;

    font-family: var(--fh-font-family);
    font-size: var(--fh-font-size);
    color: var(--fh-font-color);
    vertical-align: top;

    display: var(--fh-layout-display);
    margin: var(--fh-layout-margin);
    text-align: var(--fh-layout-text-align);
}


datalist {
    font-family: var(--fh-font-family);
    font-size: var(--fh-font-size);
}

label {
    display: block;
    margin: var(--fh-layout-margin);
    text-align: var(--fh-layout-text-align);
    margin-bottom: 20px;
    position: relative;
    padding: 0 20px;
}



/* Input & Textarea ------------------ */

/* Fields with standard width */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list],
input[type="file"],
select,
textarea {
    width: var(--fh-input-width);
    max-width: var(--fh-input-max-width);
    padding: calc( var(--fh-input-height) / 5 );
    background-color: var(--fh-input-bg-color);

    border-radius: var(--fh-border-radius);
    border-width: var(--fh-border-width);
    border-style: var(--fh-border-style);
    border-color: var(--fh-border-color);

}

/* Fields with standard height */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list] {
    height: var(--fh-input-height);
    -webkit-appearance: none;
}

/* Other */

textarea {
    -webkit-appearance: none;
    overflow: auto;
}

input[type="range"] {
    height: var(--fh-input-height);
    width: var(--fh-input-width);
    max-width: var(--fh-input-max-width);
}

input[type="file"] {
    min-height: var(--fh-input-height);
}

input[type="search"] {
    height: var(--fh-input-height);
    -webkit-appearance: none;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
}
/* For checkbox and radio to be centered, need to wrap the input and label in a span -
/* .checkbox-container {
/*  display: block;
/*  text-align: center;
/* }
/* Select ------------------ */

select {
    height: var(--fh-input-height);

    -webkit-appearance: var(--fh-select-vendor-styling, menulist);
    -moz-appearance: var(--fh-select-vendor-styling, menulist);
    -ms-appearance: var(--fh-select-vendor-styling, menulist);
    -o-appearance: var(--fh-select-vendor-styling, menulist);


}

select[multiple] {
    height: auto;
    min-height: var(--fh-input-height);
    padding: 0;
}

select[multiple] option {
    margin: 0;
    padding: calc( var(--fh-input-height) / 5 );
}

/* Fieldset ------------------ */

fieldset {
    padding: 0;
    border: 0;
}

legend {
    padding: 0;
    font-weight: inherit;
}

/* Buttons, Input Type Submit/Reset ------------------ */

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="image"] {
    height: var(--fh-button-height);
    width: var(--fh-button-width);
    max-width: var(--fh-button-max-width);
    background-color: var(--fh-button-bg-color);
    padding: calc(var(--fh-input-height) / 5);
    cursor: pointer;

    color: var(--fh-button-font-color);
    font-weight: 700;

    -webkit-appearance: none;
    -moz-appearance: none;

    border-radius: var(--fh-border-radius);
    border-width: var(--fh-border-width);
    border-style: var(--fh-border-style);
    /*border-color: var(--fh-border-color);*/
}

    /*box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);*/

input[type="image"] {
    text-align: center;
    padding: calc( var(--fh-input-height) / 5 );
}

/* States ------------------ */

input[disabled],
textarea[disabled],
select[disabled],
option[disabled],
button[disabled] {
    cursor: not-allowed;
}

input:focus,
textarea:focus,
select:focus,
option:focus,
button:focus  {
    background-color: var(--fh-focus-bg-color);
    border-color: var(--fh-focus-border-color);
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
    outline: var(--fh-focus-border-color) solid 2px;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
    background-color: var(--fh-button-hover-bg-color);
    color: var(--fh-button-hover-font-color);
}




/* Custom ------------------ */


/*input:not([type="submit"]):not([type="search"]):valid {*/
/*    border-color: #2ecc71;*/
/*}*/


/* Hide and show related .input-requirements when interacting with input */

input:not([type="submit"]) + .input-requirements {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease-out;
}

input:not([type="submit"]):hover + .input-requirements,
input:not([type="submit"]):focus + .input-requirements,
input:not([type="submit"]):active + .input-requirements {
    max-height: 1000px; /* any large number (bigger then the .input-requirements list) */
    transition: max-height 1s ease-in;
}

#footer {
    color: ghostwhite;
    /*display: inline-block;*/
    background-color: #3B669D;
}

 #disclaimer {
     color: ghostwhite;
 }

ul {
    list-style-type: none;
}

#footer-about {
    color: ghostwhite;
}
 footer li {
     display: inline-block;
     margin-left: 20px;
     text-align: center;
     font-size: 85%;

 }