<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/header :: main-header('Welcome')" />
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <th:block th:replace="fragments/navbarsm2 :: top-navsm2" />
</div>
<div th:unless="${#authorization.expression('isAuthenticated()')}">
    <th:block th:replace="fragments/navbarsm :: top-navsm" />
</div>
<div sec:authorize="isAuthenticated()">
    <th:block th:replace="fragments/navbar2 :: top-nav2" />
</div>
<div th:unless="${#authorization.expression('isAuthenticated()')}">
    <th:block th:replace="fragments/navbar :: top-nav" />
</div>
<div uk-grid="">
    <div class="uk-card uk-width-1-4">
    <div class="uk-card-header">
        <h3 class="uk-card-title">Alicia Monsibais</h3>
    </div>
    <div class="uk-card-body"><img src="img/alicia.jpg" alt="alicia"/>
    </div>
    <div class="uk-card-footer">
        <a href="https://alumni.codeup.com/students/681"><img src="img/codeup.jpg" alt="codeup"/></a>
        <a href="https://github.com/AliciaMonsibais"><img src="img/github.jpg" alt="github"/></a>
    </div>
    </div>
<div class="uk-card uk-width-1-4">
    <div class="uk-card-header">
        <h3 class="uk-card-title">Mario Johnson</h3>
    </div>
    <div class="uk-card-body"><img src="img/mario.jpg" alt="alicia"/>
    </div>
    <div class="uk-card-footer">
        <a href="https://alumni.codeup.com/students/694"><img src="img/codeup.jpg" alt="codeup"/></a>
        <a href="https://www.github.com/mariojohnson88"><img src="img/github.jpg" alt="github"/></a>
</div>
    </div>
<div class="uk-card uk-width-1-4">
    <div class="uk-card-header">
        <h3 class="uk-card-title">Steven Turner</h3>
    </div>
    <div class="uk-card-body"><img src="img/steven.jpg" alt="alicia"/>
    </div>
    <div class="uk-card-footer">
        <a href="https://alumni.codeup.com/students/693"><img src="img/codeup.jpg" alt="codeup"/></a>
        <a href="https://github.com/stevent12x"><img src="img/github.jpg" alt="github"/></a>
    </div>
</div>
<div class="uk-card uk-width-1-4">
    <div class="uk-card-header">
        <h3 class="uk-card-title">Lam Nguyen</h3>
    </div>
    <div class="uk-card-body"><img src="img/lam.jpg" alt="alicia"/></div>
    <div class="uk-card-footer">
        <a href="https://alumni.codeup.com/students/696"><img src="img/codeup.jpg" alt="codeup"/></a>
        <a href="https://github.com/lamnguyen124"><img src="img/github.jpg" alt="github"/></a>
    </div>
</div>
</div>
<th:block th:replace="fragments/footer :: myfooter"/>
</body>
</html>