<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/header :: main-header('Drink Hustle')" />
</head>
<body>
<div class="topcontainer">
    <div class="insidetop"></div>
    <div uk-grid="">
    <div class="leftside uk-width-3-4">
        <div >
            <div>
                <form action="/events/search" method="get" class="uk-search">
                    <input class="form uk-search-input" type="search" placeholder="Search Events..." name="term" />
                </form>
            </div>
        </div>
    </div>
    <div class="uk-width-1-4 rightside">
    <div sec:authorize="isAuthenticated()">
        <th:block th:replace="fragments/navbar2home :: top-nav2home" />
    </div>
    <div th:unless="${#authorization.expression('isAuthenticated()')}">
        <th:block th:replace="fragments/navbarhome :: top-navhome" />
    </div>
    </div>
    </div>
</div>

<!--    <div >-->
<!--        <div>-->
<!--            <form action="/events/location" method="get">-->
<!--                <input class="form" type="search" placeholder="Search locations..." name="termloc" />-->
<!--                <button class=".uk-button-primary" type="submit" name="action">Search-->
<!--                </button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div >-->
<!--        <div>-->
<!--            <form action="/hustlers/search" method="get">-->
<!--                <input class="form" type="search" placeholder="Search Users..." name="userterm" />-->
<!--                <button class=".uk-button-primary" type="submit" name="action">Search-->
<!--                </button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js"></script>
</body>
</html>