<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/header :: main-header('Drink Hustle')" />
</head>
<body>
<div class="topcontainer">
    <div class="insidetop"></div>
    <div uk-grid="">
    <div class="leftside uk-width-3-4">
        <div >
            <div>
                <form action="/events/search" method="get" class="uk-search">
                    <input class="form uk-search-input" type="search" placeholder="Search Events..." name="term" />
                </form>
            </div>
        </div>
    </div>
    <div class="uk-width-1-4 rightside">
    <div sec:authorize="isAuthenticated()">
        <th:block th:replace="fragments/navbar2home :: top-nav2home" />
    </div>
    <div th:unless="${#authorization.expression('isAuthenticated()')}">
        <th:block th:replace="fragments/navbarhome :: top-navhome" />
    </div>
    </div>
    </div>
</div>
<div class="uk-child-width-1-4@s uk-child-width-3-4@m uk-text-center" uk-grid="" uk-scrollspy="cls: uk-animation-slide-bottom; target: .uk-card; delay: 300; repeat: true">
    <div>
        <div class="uk-card uk-card-default uk-card-body">Flexible!</div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">Easy and Fast!</div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">Accessibility</div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">Personalize!</div>
    </div>
</div>

<div class="uk-child-width-1-3@m" uk-grid="" uk-scrollspy="cls: uk-animation-slide-bottom; target: .uk-card; delay: 300; repeat: true">
    <div>
        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy-class="uk-animation-slide-top">
            <h3 class="uk-card-title">BLah</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy-class="uk-animation-slide-top">
            <h3 class="uk-card-title">Blah</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy-class="uk-animation-slide-top">
            <h3 class="uk-card-title">Blah</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
</div>

<div class="uk-background-fixed uk-background-center-center uk-height-medium uk-width-large" style="width: 1440px;background-image: url(img/drinkbg.jpg);">
    <h2 style="color:white;">Drink Hustler was made by 2 Former Bartenders and 2 Current Weirdos.</h2>
    <hr/>
</div>


<div style="height: 150px;">
    <h1>Contact Us!</h1>
</div>
<th:block th:replace="fragments/footer :: myfooter"/>
</body>
</html>